<%- include("header") -%>

<div class="box">
    <h1 id="heading"><%= listTitle %></h1>

    <ul>
        <% itemsList.forEach((item, index)=>{ %>
            <li>
                <input type="checkbox">
                <p><%= item %></p>
            </li>
        <% }) %>
        <li>
            <form action="/" method="post">
                <input type="text" name="newItem" placeholder="New Item"  autocomplete="off">
                <button name="button" value="<%= listTitle %>">+</button>
            </form>
        </li>
    </ul>
</div>

<%- include("footer") -%>